* {
    margin: 0;
    padding: 0;
  }
 
body {
    font-family: 'Roboto', sans-serif;
    background: #F0F0F0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
width: 52%;
height: 86%;
background: #FFFFFF;
display:grid;
grid-template-columns: 1.14fr 2fr;
border-radius: 30px;
overflow: hidden;
border: 1px solid #D8D9DA;
}
.wrapper__menu {
    background: #FCFBFC;
    border: 1px solid #F0F0F0;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
}
h1 {
    font-size: 2vw;
    margin: 15% auto;
}

.btn-addnewnote {
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
    color: white;
    background: #4499FF;
    border-radius: 10px;
    border: none;
    font-size: 1.3vw;
    padding: 5% 20%;
    margin-top: 3%;
    white-space: nowrap;
}

h2 {
    font-weight: 500;
    margin-top: 19%;
    font-size: 1.5vw;
    color:#74777B;
    margin-bottom: 4%;
}


.btn-search {
    width: 6%;
    height: 5%;
}
.notes-list {
    margin-top: 20px;
    padding: 10px;
    overflow-y: auto;
    height: 80%;
  }
  
  .note {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .note-tags {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
  }

  .wrapper__menu h3:hover {
    background: #F4F4F4;
  }
  .tag {
    display: inline-block;
    padding: 8px 16px;               
    border-radius: 10px;             
    margin: 2% 0 0 0;             
    font-weight: 500;
    font-size: 1.2vw;
    cursor: pointer;
}